@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div {
  display: block;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
li  {
  list-style-type: none;
}
h1  {
  display: block;
  font-weight: bold;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
a  {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}
figure  {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
section {
  display: block;
}
.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

/*navigation*/
nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.nav_list--links  {
    display: flex;
}
.nav_link_anchor{
    text-decoration: none;
    margin: 0 12px;
    color: #242424;

}
.nav_link_anchor--primary  {
  text-decoration: none;
  background-color: red;
  border-radius: 50px;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
}
.nav_link_anchor--primary:hover  {
  background-color: salmon;
  transition: 300ms ease;
}
.personal__logo  {
  font-size: 24px;
  color: red;
  font-weight: bold;
  margin: 0 12px;
}
/*aboutme*/
.about-me_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.about-me_title  {

}
.title_span {
  color: red;
}
.about-me_info--para  {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: bold;
}
.about-me__picture  {
  width: 100%;
  padding: 8px;
  transform: scale(1.2);

}
.about-me_picture--mask  {
  width: 120px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 28px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 16%);

}
.about-me_links  {
  animation: fade-up 650ms 800ms backwards;
}
.about-me_link  {
  font-size: 20px;
  color: #242424;
  padding: 0 16px
}

.about-me_img--container  {
  flex: 1;
  display: flex;
  align-items: center;
}
.about-me_img  {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}
/*Languages*/
.title_span  {
  color: red;
}
.languages_img--wrapper  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}
.languages  {
  width: calc(100/3);
  display: flex;
  justify-content: center;
  position: relative;

}
.language_list  {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

}
.languages_name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  opacity: 0;
  font-size: 20px;
}
.language_img  {
  width: 100%;
  max-width: 100px;
  transform: all 300ms;
}
.languages:hover .language_img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.languages:hover .languages_name {
  transform: scale(1);
  opacity: 1;
}
/*projects*/
.projects {
  margin-bottom: 135px;
}
.project_img  {
  width: 100%;
  transition: all 500ms ease;
}
.section_title  {
  padding: 40px;
}
.project_wrapper  {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 4.5);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}
.project_wrapper:before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  /*transform: translateY(100%);*/
  transition: opacity 450ms ease;
  transform: translateY(100%);

}
.projects:hover .project_img {
  transform: scale(1.07);
  filter: blur(5px);
}
.projects:hover .project_wrapper::before {
  opacity: 0.7;
  transform: translateY(0);
}
.projects_container{
  padding: 50px 0;
}
.projects_list {
  padding-top: 40px;
}

.project_description--title {
  text-align: left;
  color: #fff;
  font-size: 40px;
}
h3 {
  line-height: 1.25;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.project_description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  transition: transform 450ms, opacity 300ms;
}
.projects:hover .project_description{
  opacity: 1;
  transform: translateY(-50%);
}
.project_description--subtitle {
  text-align: left;
  color: white;
}
h4 {
  line-height: 1.25;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.project_description--pg, .project_description--links {
  text-align: left;
  color: #fff;
}
.project_description--pg {
  font-size: 14px;
  margin: 16px 0;
}
.individual_project--link {
  font-size: 20px;
  margin-right: 0 16px
}